%input{type: "checkbox", disabled?: "disabled", checked?: "checked", readonly?: "readonly"}
%input{type: "checkbox", disabled?: (5 < 5), checked?: (5 == 5), readonly?: (5 == 5 ? "yes" : false)}
%input{type: "checkbox", disabled?: (5 < 5), checked?: (5 > 5), readonly?: (5 != 5 ? "yes" : "")}