%input#single-quote{ type: 'hidden' }
%input#single-quote-with-interpolation{ type: '#{hidden}' }
%input#single-quote-alt( type='hidden' )
%input#single-quote-with-interpolation-alt( type='#{hidden}' )
%input#single-quote-with-double-quote( type='hi"dden' )
%input#single-quote-with-backslash( type='hi\dden' )
